/* CSS Document */

/***All Colors Can be Managed here.**/
body {
	color:#5d5d5d;
}
h1,h2,h3,h4,h5,h6, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#3b3d42; 
}
p {
	color:#5d5d5d;
}
label, input[type=text], input[type=date], select, p, ul, ol, textarea {
	color:#5d5d5d; 
}
a {
	color:#5d5d5d; 
}
a:hover {
	color:#f79800; 
}
.btn-primary {
	background-color:#ffa81d;	 
}
.btn-primary:hover {
	background-color:#f79800; 	
}
.button.secondary {
	background-color:#1377c5;
	color:#FFF;
}
.button.secondary:hover {
	background-color:#0a68b1; 
	color:#FFF;
}
.button.bordered {
	background-color:transparent;
	color:#FFF;
	border-color:#FFF !important;
}
.button.bordered:hover {
	background-color:#25292c;
	border-color:#25292c !important;
	color:#FFF;	 
}
.button.bordered-light {
	border-color:#25292c !important;
	color:#25292c;		 
}
.button.bordered-light:hover {
	color: #FFF;
	border-color:#25292c !important;
}
.accordion-title:focus, .accordion-title:hover {
	background-color:transparent; 
}
/*Crousel Controls Default Style*/
.owl-prev:hover , .owl-next:hover {  
	background-color:#25292c;
	color:#FFF;
	border-color:#25292c !important;
}
/*Crousel Controls Default Style*/

/*/*===========
Top Bar CSS
=======*/
.top-int-bar { 
	background-color:#f7f7f7;
	border-color:#EDEDED !important;
}
.call-us {
	color:#3b3d42;
}
.navigation, .top-bar, .top-bar ul {
	background-color: #1377c5;
}
.navigation-icon-title { 
	color:#FFF;
}
.menu-icon.dark:after {
	background-color:#FFF;
	box-shadow:0 7px 0 #FFF,0 14px 0 #FFF; 
}
.navigation ul li a:hover {
	background-color:#0a68b1; 
}
.navigation ul ul {
	background-color:#FFF;
}
.navigation ul .first-sub { 
	border-color:#0a68b1 !important;
}
.navigation ul li a {
	color:#FFF; 
}
.navigation ul ul li a {
	color:#3b3d42;
} 
.navigation ul .submenu li a:hover {
	color:#FFF;
	background-color:#0a68b1;
}
.single-sub ul li a {
	border-color:#F7f7f7 !important;  
}
/*-----------------------
Information Boxes CSS
------------------------*/
.info-boxes {
	color:#FFF;
}
.info-boxes h2 { 
	color:#FFF;
}
.info-boxes p {
	color:#FFF; 
}
.info-1 {
	background-color:#1377c5; 
}
.info-2 {
	background-color:#0a68b1; 
}
.info-3 {
	background-color:#1377c5; 
}
/*-------------------------
services Section start
---------------------------*/
.services-wrap {
	background-color:#f7f7f7;
	border-color:#ededed !important;
}
.section-title h2 span {
	border-color:#3b3d42 !important;   
}
.appointment-box {
	background-color:#f7f7f7;
	border-color:#ededed !important;
}
.dentist-info h4 span {
	color:#5d5d5d;
}
.dentist-social a {
	color:#FFF;
	background-color:#0a68b1;
	border-color:#0a68b1 !important;
}
.dentist-social a:hover {
	background-color:#FFF;
	border-color:#FFF !important;
	color:#0a68b1; 
}
.testimonials {
	background-color:#f7f7f7; 
}
.pricing-table {
    border-color:#DDDDDD !important;
}
.pricing-table .title {
    background-color:#25292c;
    color: #FFF;
}
.pricing-table .bullet-item {
    background-color: #FFFFFF;
    border-color: #DDDDDD !important;
}
.pricing-table .price {
    background-color: #F7F7F7;
 	color:#25292c;
 }
.pricing-table .cta-button {
    background-color: #FFFFFF;
}
.pricing-table .description {
    background-color: white;
    color: #777777;
    border-color:#dddddd !important;
}
.small-section-title span:after {
    border-color:#5BC0BE !important;
}
.accordion li {
	background-color:#f7f7f7;
}
.accordion-content {
	background-color:transparent; 
}
.accordion-title {
	background-color:#ededed;
	color:#3b3d42;
}
.is-active .accordion-title, .accordion-title:focus, .accordion-title:hover {
	background-color:#25292c; 
	color:#FFF;
}
.call-to-action { 
	background-color:#f79800;
}
.call-to-action p, .call-to-action h3 {
	color:#FFF; 
}
.title-section {
	color:#3b3d42;
}
.title-section h1 {
	color:#3b3d42; 
}
.title-section a, .breadcrumbs li:not(:last-child):after, .breadcrumbs li, .breadcrumbs li a, .breadcrumbs .disabled {
	color:#3b3d42; 
}
.icon-box .icon-side {
	background-color:#ffa81d;
	color:#FFF;
}
.info-side p strong {
	color:#3b3d42;
}
.pagination .current {
	background:#3b3d42;
}
.pagination .current a {
	color:#FFF; 
}
.pagination .current a:hover {
	background-color:#3b3d42; 
}
.post-tags {
    border-color:#3b3d42 !important;
}
.post-share a {
    color: #FFF;
    background-color: #3b3d42;
}
.post-share a:hover {
	background-color:#2b2d32; 
}
.author-box {
    border-color: #ededed !important;
}
.sidebar .widget {
    border-color: #3b3d42 !important;
    background-color: #f7f7f7;
}
.tags li a {
	border-color: #3b3d42 !important;
}
.tags li a:hover {
	background-color:#3b3d42;
	color:#FFF;
}
.contact-dentist .callinfo {
	color:#3b3d42;
}
.popular-post {
    border-color: #EDEDED !important;
 }
.doctor-sidebar {
	background-color:#f7f7f7;
}
/*==========================
Footer
=============================*/
.footer {
	border-color:#2b2d32 !important;
	background-color:#2b2d32;
	color:#ffffff;
}
.footer a {
	color:#FFF; 
}
.footer a:hover {
	color:#f79800; 
}
.footer p {
	color:#ffffff; 
}
.tx-div {
	background-color:#FFF;
}
.footer h2 {
	color:#FFF;
}
.footerTop {
	 background-color:#3b3d42;
}
.footerTop ul { 
	color:#FFFFFF;
}
.address h4 {
	color:#FFF;
}
.footer .socialicons {
	color:#FFF;
}
#top {
    color: #ffffff;
    background: #25292c;
}
.boxed {
	background:#FFF;
}
@media only screen and (max-width: 942px) {
/*-Top Navigation CSS*/
.is-accordion-submenu-parent>a:after, .is-accordion-submenu-parent>a:before {
	border-color: #FFF transparent transparent;
}
.inner-mega {
	background-color:#FFF; 
}
}